 /*Universal selector*/
 /* *{color: goldenrod;} */

 /*Type selector*/
 /*single*/
 /*span{color: blue;}
 h2{color:olivedrab;}
 /*multiple*/
 /*div,p{color: pink;}
 
 /*Class selector*/
/*.interest{color:brown;}*/

/* ID selector*/
/* #myspan{color: aqua;}

/*Child selector*/
/*span>p{color: blueviolet;}

/*Descendant selector*/
/*div p{color: green;}

/*Adjacent sibling selector*/
/*h1+p{color: purple;}

/*General sibling selector*/
h1~p{color: yellow;}

  

